
.colectivo1 {
    background: #19236d;
	.primero {
	    background: #88aee8;
		.segundo {
		    background: #eee392
		}
	}
}

.colectivo2 {
    background: #be1f1c;
	.primero {
	    background: #ccc7b1;
		.segundo {
		    background: #1d3b78
		}
	}
}

.colectivo4 {
    background: #f5f6f9;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo5 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo6 {
    background: #178258;
	.primero {
	    background: #c5001b;
		.segundo {
		    background: #0f72ba
		}
	}
}

.colectivo7 {
    background: #f5f6f9;
	.primero {
	    background: #448dc4;
		.segundo {
		    background: #448dc4
		}
	}
}

.colectivo8 {
    background: #f5f6f9;
	.primero {
	    background: #448dc4;
		.segundo {
		    background: #448dc4
		}
	}
}

.colectivo9 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo10 {
    background: #00dcd7;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo12 {
    background: #b6b6b5;
	.primero {
	    background: #d90004;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo15 {
    background: #178258;
	.primero {
	    background: #6dd378;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo17 {
    background: #00dcd7;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo19 {
    background: #b6b6b5;
	.primero {
	    background: #d90004;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo20 {
    background: #f5f6f9;
	.primero {
	    background: #be1f1c;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo21 {
    background: #f5f6f9;
	.primero {
	    background: #448dc4;
		.segundo {
		    background: #448dc4
		}
	}
}

.colectivo22 {
    background: #00dcd7;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo23 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo24 {
    background: #fff;
	.primero {
	    background: #bb0017;
		.segundo {
		    background: #178258
		}
	}
}

.colectivo25 {
    background: #fff;
	.primero {
	    background: #bb0017;
		.segundo {
		    background: #178258
		}
	}
}

.colectivo26 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo28 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo29 {
    background: #0d4a92;
	.primero {
	    background: #edef9c;
		.segundo {
		    background: #c60321
		}
	}
}

.colectivo32 {
    background: #be1f1c;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo33 {
    background: #178258;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo34 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo36 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo37 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo39 {
    background: #824331;
	.primero {
	    background: #e6e2e1;
		.segundo {
		    background: #ba702b
		}
	}
}

.colectivo41 {
    background: #f1dd02;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo42 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo44 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo45 {
    background: #178258;
	.primero {
	    background: #c40018;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo46 {
    background: #0071b8;
	.primero {
	    background: #fff;
		.segundo {
		    background: #fff
		}
	}
}

.colectivo47 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo49 {
    background: #fff;
	.primero {
	    background: #261e85;
		.segundo {
		    background: #261e85
		}
	}
}

.colectivo50 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo51 {
    background: #3fb5e4;
	.primero {
	    background: #fff215;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo53 {
    background: #0065c9;
	.primero {
	    background: #ffff06;
		.segundo {
		    background: #227c72
		}
	}
}

.colectivo55 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo56 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo57 {
    background: #d5bfb2;
	.primero {
	    background: #405888;
		.segundo {
		    background: #cc8529
		}
	}
}

.colectivo59 {
    background: #16542d;
	.primero {
	    background: #972400;
		.segundo {
		    background: #f7e3cb
		}
	}
}

.colectivo60 {
    background: #ffdb93;
	.primero {
	    background: #ff2822;
		.segundo {
		    background: #08090a
		}
	}
}

.colectivo61 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo62 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo63 {
    background: #3c75a2;
	.primero {
	    background: #ce9e41;
		.segundo {
		    background: #293031
		}
	}
}

.colectivo64 {
    background: #0d4a92;
	.primero {
	    background: #edef9c;
		.segundo {
		    background: #c60321
		}
	}
}

.colectivo65 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #437cc9
		}
	}
}

.colectivo67 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo68 {
    background: #215297;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo70 {
    background: #178258;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo71 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo74 {
    background: #3fb5e4;
	.primero {
	    background: #fff215;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo75 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #1d4279
		}
	}
}

.colectivo76 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo78 {
    background: #fdfec2;
	.primero {
	    background: #eac52f;
		.segundo {
		    background: #3a6146
		}
	}
}

.colectivo79 {
    background: #3fb5e4;
	.primero {
	    background: #fff215;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo80 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo84 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo85 {
    background: #1b7343;
	.primero {
	    background: #e4d04b;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo86 {
    background: #5397c8;
	.primero {
	    background: #e6f4fd;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo87 {
    background: #fdfec2;
	.primero {
	    background: #eac52f;
		.segundo {
		    background: #3a6146
		}
	}
}

.colectivo88 {
    background: #fff;
	.primero {
	    background: #c5001b;
		.segundo {
		    background: #0f72ba
		}
	}
}

.colectivo90 {
    background: #fff;
	.primero {
	    background: #df2e34;
		.segundo {
		    background: #08a3ff
		}
	}
}

.colectivo91 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo92 {
    background: #1d9a92;
	.primero {
	    background: #f3e2b7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo93 {
    background: #fdfec2;
	.primero {
	    background: #cf8718;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo95 {
    background: #e0d7a0;
	.primero {
	    background: #4f342d;
		.segundo {
		    background: #5a5b5f
		}
	}
}

.colectivo96 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo97 {
    background: #5a92cb;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo98 {
    background: #eadea2;
	.primero {
	    background: #297e5d;
		.segundo {
		    background: #e55b41
		}
	}
}

.colectivo99 {
    background: #fff;
	.primero {
	    background: #bb0017;
		.segundo {
		    background: #178258
		}
	}
}

.colectivo100 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo101 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo102 {
    background: #c40018;
	.primero {
	    background: #036bdd;
		.segundo {
		    background: #9ba6b2
		}
	}
}

.colectivo103 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo104 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo105 {
    background: #fff;
	.primero {
	    background: #233a5c;
		.segundo {
		    background: #233a5c
		}
	}
}

.colectivo106 {
    background: #fff;
	.primero {
	    background: #bb0017;
		.segundo {
		    background: #178258
		}
	}
}

.colectivo107 {
    background: #fff;
	.primero {
	    background: #bb0017;
		.segundo {
		    background: #178258
		}
	}
}

.colectivo108 {
    background: #f5f6f9;
	.primero {
	    background: #448dc4;
		.segundo {
		    background: #448dc4
		}
	}
}

.colectivo109 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo110 {
    background: #c40018;
	.primero {
	    background: #036bdd;
		.segundo {
		    background: #9ba6b2
		}
	}
}

.colectivo111 {
    background: #fdfec2;
	.primero {
	    background: #eac52f;
		.segundo {
		    background: #3a6146
		}
	}
}

.colectivo112 {
    background: #4fb8fa;
	.primero {
	    background: #023c2e;
		.segundo {
		    background: #fca902
		}
	}
}

.colectivo113 {
    background: #3c75a2;
	.primero {
	    background: #ce9e41;
		.segundo {
		    background: #293031
		}
	}
}

.colectivo114 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo115 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo117 {
    background: #f5f6f9;
	.primero {
	    background: #be1f1c;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo118 {
    background: #fff;
	.primero {
	    background: #cf2a2a;
		.segundo {
		    background: #3465d9
		}
	}
}

.colectivo123 {
    background: #2a79be;
	.primero {
	    background: #fff;
		.segundo {
		    background: #fff
		}
	}
}

.colectivo124 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo126 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo127 {
    background: #fdfec2;
	.primero {
	    background: #eac52f;
		.segundo {
		    background: #3a6146
		}
	}
}

.colectivo128 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo129 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo130 {
    background: #fdfec2;
	.primero {
	    background: #eac52f;
		.segundo {
		    background: #3a6146
		}
	}
}

.colectivo132 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo133 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo134 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo135 {
    background: #fff;
	.primero {
	    background: #178258;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo136 {
    background: #99cb34;
	.primero {
	    background: #d0cbc8;
		.segundo {
		    background: #d0cbc8
		}
	}
}

.colectivo140 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo141 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo143 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo146 {
    background: #fff;
	.primero {
	    background: #0095d9;
		.segundo {
		    background: #0095d9
		}
	}
}

.colectivo148 {
    background: #d6cf0b;
	.primero {
	    background: #fff;
		.segundo {
		    background: #fff
		}
	}
}

.colectivo150 {
    background: #c40018;
	.primero {
	    background: #f1dfa7;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo151 {
    background: #f5f6f9;
	.primero {
	    background: #4a7ed4;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo152 {
    background: #002168;
	.primero {
	    background: #fff;
		.segundo {
		    background: #ba091d
		}
	}
}

.colectivo153 {
    background: #99cb34;
	.primero {
	    background: #d0cbc8;
		.segundo {
		    background: #d0cbc8
		}
	}
}

.colectivo154 {
    background: #3fb5e4;
	.primero {
	    background: #fff215;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo155 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #385f7e
		}
	}
}

.colectivo158 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #242b51
		}
	}
}

.colectivo159 {
    background: #f5f6f9;
	.primero {
	    background: #5e9e2c;
		.segundo {
		    background: #104438
		}
	}
}

.colectivo160 {
    background: #c40018;
	.primero {
	    background: #929799;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo161 {
    background: #f5f6f9;
	.primero {
	    background: #c40018;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo163 {
    background: #99cb34;
	.primero {
	    background: #242b51;
		.segundo {
		    background: #fff215
		}
	}
}

.colectivo165 {
    background: #4fb8fa;
	.primero {
	    background: #023c2e;
		.segundo {
		    background: #fca902
		}
	}
}

.colectivo166 {
    background: #c40018;
	.primero {
	    background: #f1dca5;
		.segundo {
		    background: #18192b
		}
	}
}

.colectivo168 {
    background: #c40018;
	.primero {
	    background: #339bdd;
		.segundo {
		    background: #120e11
		}
	}
}

.colectivo169 {
    background: #1363b0;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo172 {
    background: #1e57b1;
	.primero {
	    background: #dd941d;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo174 {
    background: #c40018;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo175 {
    background: #fff;
	.primero {
	    background: #0095d9;
		.segundo {
		    background: #0095d9
		}
	}
}

.colectivo176 {
    background: #0e3264;
	.primero {
	    background: #e6d8a9;
		.segundo {
		    background: #e09805
		}
	}
}

.colectivo177 {
    background: #3fb5e4;
	.primero {
	    background: #fff215;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo179 {
    background: #524f9c;
	.primero {
	    background: #c3c2ba;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo180 {
    background: #ca202b;
	.primero {
	    background: #fbd003;
		.segundo {
		    background: #0183dc
		}
	}
}

.colectivo181 {
    background: #ca202b;
	.primero {
	    background: #fff;
		.segundo {
		    background: #161616
		}
	}
}

.colectivo182 {
    background: #ca202b;
	.primero {
	    background: #fff;
		.segundo {
		    background: #3e699e
		}
	}
}

.colectivo184 {
    background: #08a3ff;
	.primero {
	    background: #fff;
		.segundo {
		    background: #df2e34
		}
	}
}

.colectivo185 {
    background: #ca202b;
	.primero {
	    background: #fff;
		.segundo {
		    background: #fff
		}
	}
}

.colectivo188 {
    background: #f5f6f9;
	.primero {
	    background: #c40018;
		.segundo {
		    background: #c40018
		}
	}
}

.colectivo193 {
    background: #f5f6f9;
	.primero {
	    background: #2765a0;
		.segundo {
		    background: #2765a0
		}
	}
}

.colectivo194 {
    background: #fdfa3d;
	.primero {
	    background: #f64ab6;
		.segundo {
		    background: #02d2f6
		}
	}
}

.colectivo195 {
    background: #fdfa3d;
	.primero {
	    background: #f64ab6;
		.segundo {
		    background: #02d2f6
		}
	}
}

.colectivo4,
.colectivo5,
.colectivo7,
.colectivo8,
.colectivo9,
.colectivo20,
.colectivo21,
.colectivo23,
.colectivo24,
.colectivo25,
.colectivo26,
.colectivo28,
.colectivo34,
.colectivo37,
.colectivo41,
.colectivo44,
.colectivo49,
.colectivo50,
.colectivo56,
.colectivo57,
.colectivo60,
.colectivo65,
.colectivo71,
.colectivo76,
.colectivo78,
.colectivo84,
.colectivo87,
.colectivo88,
.colectivo90,
.colectivo91,
.colectivo93,
.colectivo95,
.colectivo98,
.colectivo99,
.colectivo101,
.colectivo105,
.colectivo106,
.colectivo107,
.colectivo108,
.colectivo111,
.colectivo117,
.colectivo127,
.colectivo130,
.colectivo132,
.colectivo135,
.colectivo136,
.colectivo146,
.colectivo148,
.colectivo151,
.colectivo153,
.colectivo159,
.colectivo161,
.colectivo175,
.colectivo188,
.colectivo193,
.colectivo194,
.colectivo195{
    color: #333;
    text-shadow: 0 0 0;
}